extends layout

block head_content
  title 我的网站

block content
  h1= title
  p Welcome to #{title}
  canvas(id="canvas")
  script(src='./js/index.js')
  script(src='./js/index.js')
  p
  button(id="sign_in" onclick="onSignIn();")
      div Sign In
  button(id="sign_up" onclick="onSignUp();")
    div Sign Up
  button(id="sign_out" onclick="onSignOut();")
    div Sign Out
  button(id="get_user_info" onclick="onGetUserInfo();")
    div Get user info